<form>

        <div class='cb-group cbxRadio' id="SetOne">
            <label><input type="checkbox" value='a' checked="checked" name="setOne">Like</label>
            <label><input type="checkbox" value='b' name="setOne">Dislike</label>

        </div>

        <div class='cb-group cbxRadio' id="SetTwo">
            <label><input type="checkbox" value='d' name="setTwo">Like</label>
            <label><input type="checkbox" value='e' name="setTwo">Dislike</label>
        </div>

    
    <input type="submit" />
</form>
<div id="txt"></div>

@section scripts{
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/jquery.widgets.cbxradio.js"></script>
<script>

        var cbxs = [];
        //apply to each
        $('.cb-group').each( function(){        
            var cb = $(this).cbxRadio();
            var name = this.id;
            cb.on("cbxradiochange", function () {
                $("#txt").html("<b>Text:</b> " + name + ' ' + $(cb).cbxRadio("value"));
            });

            cbxs.push(cb);
        });

        window.cbxs = cbxs;

</script>


<style>

.cbxRadio {
    margin:1em;
}
.cbxRadio label:hover{
    cursor:pointer;
}

.cbxRadio label{
  padding:.2em .5em;
  border:1px solid lightgrey;
  border-radius:5px;
    
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cbxRadio input{
    display:none;
}
.cbxRadio label.active{
   color:white;
    background-color:navy;
}

</style>
}