@{
    ViewData["Title"] = "Adventure Time"; //Features
}


    <h1>@ViewData["Title"]</h1>
    <p class="lead">
        A choose-your-own-adventure collaboration platform.
    </p>

    <p>
        Get together with like minded creative writers and make stories that you and your freinds enjoy.
    </p>


<div class=" marketing-grid">
    <div class="col-lg-6 item">
        <div class="row">
            <div class="col-xs-3 text-center">
                <img src="~/images/main/pencil.png" class="insp-img-circle" />
            </div>
            <div class="col-xs-9">
                <h2>Write</h2>
                Write plots lines with rich interactions. Create and contribute to multiple stories. You can even collaborate and invite friends to help make the adventures.
                Make stories with multiple endings and plot twists.
            </div>
        </div>
    </div>

    <div class="col-lg-6 item">
        <div class="row">

            <div class="col-xs-3 text-center">
                <img src="~/images/main/book.png" class="insp-img-circle" />
            </div>
            <div class="col-xs-9 ">
                <h2>Read</h2>

                Read and participate by choosing your own adventure. Listen to what the author has to say and choose accordingly. It may be the charachters last step or it may be the start of a new adventure.

            </div>
        </div>

    </div>
    <div class="col-lg-6 item">
        <div class="row">

            <div class="col-xs-3 text-center">
                <img src="~/images/main/rocket.png" class="insp-img-circle" />
            </div>
            <div class="col-xs-9 ">
                <h2>Explore</h2>

                Explore fantasy worlds in the first person. When writing or reading, you can engage in fantasy escapism. Slip into the guise of an alter ego as you tackle terrain, terrestrial or extraterrestrial adventures. And share what you come up with or experience.
            </div>
        </div>

    </div>
    <div class="col-lg-6 item">
        <div class="row">

            <div class="col-xs-3 text-center">
                <img src="~/images/main/community.png" class="insp-img-circle" />
            </div>
            <div class="col-xs-9 ">
                <h2>Participate</h2>

                Whether you are reading or writing, there are opportunities to participate in the online community.
                Give feedback via reviews, messaging, and post on our online discourse forums. Become part of our community and keep engaged.
            </div>
        </div>

    </div>

</div>
